.header{        
    background: -moz-linear-gradient(45deg, rgba(254,107,131,1) 0%, rgba(147,38,240,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(254,107,131,1)), color-stop(100%, rgba(147,38,240,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(254,107,131,1) 0%, rgba(147,38,240,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(254,107,131,1) 0%, rgba(147,38,240,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(254,107,131,1) 0%, rgba(147,38,240,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(254,107,131,1) 0%, rgba(147,38,240,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9326f0', endColorstr='#fe6b83',GradientType=1 ); 
    /* ie6-9 */ 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    min-height: 18em;
    position: relative;
    text-align: center;

    &__title{
        font-size:6em;
        font-family: $secondary-font-family;
        line-height: 1; 
        
        @media #{$media-size-small}{
            font-size: 4.5em;
        }
    }
    &__subtitle{
        font-size:1.3125em;
        font-family: $base-font-family; 
        letter-spacing: 0.0625em;

    }
    
    &__wave{
        width:35%;
        position:absolute;
        bottom:-25px;
        right:0;
        
        @media #{$media-size-medium}{
            display: none;
        }
}
    &__wave-top{
        margin-left: 10%;    
    }
}