.btn{
    font-family: $secondary-font-family;
    font-size:0.9375em;
    border:2px solid $color-light-pink;
    display:inline-block;
    margin:1em 0 2em 0;
    padding: 1em 2.5em;
    color: $color-violet;
    cursor: pointer;
    background: none;
    transition: 0.3s all ease-in-out;
    min-width: 8rem;
    
    &:hover{
        background:  $color-light-pink;       
    }
    
    &--submit{
        color:#fff;
        border: 2px solid #fff;    
    }
}