@mixin number($content, $color){
    &::before{
    content: $content;
    font-size:15.4375em;
    color:$color;    
    font-family: $secondary-font-family;
    float:left;
    width:30%;
    height: 100%;
    }  
}
@mixin margin-auto {
    margin: {
        left: auto;
        right: auto;
    }
}