$color-violet: rgb(88, 39, 130);
$color-light-pink:#e579d7;

//breakpoints
$media-size-large: "all and (max-width:56em)";//720px
$media-size-medium: "all and (max-width:45em)";//720px
$media-size-small: "all and (max-width:31em)";//464px